Package: com.conradkramer.myoactivator
Name: MyoActivator
Version: 0.0.1
Architecture: iphoneos-arm
Description: Integrate Myo with Activator
Maintainer: Conrad Kramer <support@kramerapps.com>
Author: Conrad Kramer <support@kramerapps.com>
Depends: mobilesubstrate, preferenceloader (>= 2.2), libactivator (>= 1.7.5~beta7), gsc.bluetooth-le
Section: Tweaks
dev: conradkramer
